@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Fuggles&display=swap');

:root {
    --color-whidt: white;
    --color-text: rgb(36, 36, 231);
    --Font-logo: 'Fuggles', cursive;
    --font-home: 'Frank Ruhl Libre', serif;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}



.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 2rem;
    background-color: var(--color-whidt);
    color: var(--color-text);
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;    
}

h1 {
    font-family: var(--Font-logo);
    font-size: 3rem;
}

.main-menu ul {
    display: flex;
}

.main-menu a {
    margin-left: 3rem;
}

/*------------------------------------------------------------------------------------*/

.home {
    background-image: url("../img/img-fundo-03.svg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    
}

.home-container {
    display: grid;
   justify-content: center;
    align-items: center;
    grid-template-columns: 40% 25%;
    column-gap: .5rem;
}

.text-home {
    grid-column: 1 / 2;
    height: 60vh;
    display: block;
}

.text-home h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.text-home p {
    font-size: 2.5rem;
    font-family: var(--font-home);
}

.img-home {
    grid-column: 2 / 3;
    height: 60vh;
    background-image: url("../img/imagem-maquiagem-home.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 1rem;
    
}



.produto {
    height: 100vh;
}