@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@1&display=swap');

:root {
    --color-whidt: white;
    --color-text: rgb(107, 12, 144);
    --Font-logo: 'Zen Loop', cursive;
    --font-home: 'Frank Ruhl Libre', serif;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}



.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.7rem;
    background-color: var(--color-whidt);
    color: var(--color-text);
    border-bottom: .5rem solid rgb(230, 230, 230);

}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;    
}

h1 {
    font-family: var(--Font-logo);
    font-size: 2.5rem;
}

.main-menu ul {
    display: flex;
}

.main-menu a {
    margin-left: 3rem;
}
.space-menu {
    height: 6.8rem;
}

/*------------------------------------------------------------------------------------*/

.home {
    background-image: url("../img/img-fundo-03.svg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
 
}

.home-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40% 35%;
    column-gap: .5rem;
   
}

.text-home {
    grid-column: 1 / 2;
    height: 50vh;
    display: block;
    margin-top: -9rem;
}

.text-home h2 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    color: var(--color-whidt);
    
}

.text-home p {
    font-size: 2.3rem;
    font-family: var(--font-home);
    color: var(--color-whidt);
}

.fa-star {
    font-size: 3rem;
}

.link-produto {
    position: relative;
    background: #7263FF;
    width: 25rem;
    height: 3rem;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    border-radius: 1rem;
    border: none;
    color: var(--color-whidt);
}

.link-produto:hover {
    background: #6050f0;
}



.img-home {
    grid-column: 2 / 3;
    height: 65vh;
    background-image: url("../img/img-make.svg");
    background-size: cover;
    background-position: center center;
    margin-top: -9rem;
       
}

.produto {
    height: 100vh;
}